<img src="https://www.cdiscount.com/pdt2/4/0/6/1/700x700/auc5055285404406/rw/tapis-pokemon-pokeball.jpg" width="75" height="75">

<span class="lead display-4 text-danger"><strong><u>Pokémons</u></strong></span>
<br><br>
<div class="text-muted">Nombre de Pokémons renseignés : <span class="text-danger">{{nb}}</span></div>
<div class="text-muted" *ngIf="choice">Pokémon sélectionné : <span class="text-danger">{{choice.nom}}</span></div>
<div *ngIf="pokemons">
  <ul>
    <li *ngFor="let poke of pokemons" class="text-muted" style="float: left; margin-left: 80px">
      <app-pokemon [pk]=poke (choix)="choice=$event"></app-pokemon>
    </li>
  </ul>
</div>
