<img src="https://www.cdiscount.com/pdt2/4/0/6/1/700x700/auc5055285404406/rw/tapis-pokemon-pokeball.jpg" width="75" height="75">

<span class="lead display-4 text-danger"><strong><u>Pokémons</u></strong></span>
<br><br>
<div *ngIf="pokemon">
  <ul *ngFor="let poke of pokemon">
    <li class="text-muted" style="float: left; margin-left: 75px">

      {{poke.nom}}
      <span style="margin-left: 30px;">
        <ul>
            <li *ngIf="poke.types.length == 1; else elseType">{{poke.types[0]}}</li>
          <ng-template #elseType>
            <li>{{poke.types[0]}}</li>
            <li>{{poke.types[1]}}</li>
          </ng-template>
        </ul>

      <div *ngIf="poke.taille; else elseTaille">
        Taille : {{poke.taille}}m<br>
      </div>
      <ng-template #elseTaille>Taille : N/A</ng-template>

      <div *ngIf="poke.poids; else elsePoids">
        Poids : {{poke.poids}}kg<br>
      </div>
      <ng-template #elsePoids>Poids : N/A</ng-template>
      </span>
    </li>
  </ul>
</div>
