<nav class="navbar navbar-expand-lg navbar-light border border-danger" style="background-color: black">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRySYKBP3ZGNF821lesU6zBqUAP16Us0IRyKHGsO_yon1xZekf1&s" routerLink="" height="40" class="navbar-brand">
      <a class="navbar-brand text-danger" routerLink="/generations">Générations</a>
      <a class="navbar-brand text-danger" routerLink="/pokemons">Pokémons</a>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
