<nav class="navbar navbar-expand-lg navbar-light border border-danger" style="background-color: black">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <img src="https://www.slate.fr/sites/default/files/styles/1060x523/public/pokemon_logo2.png" routerLink="" height="40" class="navbar-brand">
      <a class="navbar-brand text-danger" routerLink="/generations">Générations</a>
      <a class="navbar-brand text-danger" routerLink="/pokemons">Pokémons</a>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
